body {
    background-image: url('../images/bg2.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
    min-height: 100vh;
    overflow: hidden;
    font-family: arial black, sans-serif;
}

.content {
    height: 100%;
    display: flex;
}

.logo {
    max-width: 70px; 
    max-height: 70px;
    position: absolute;
    top: 0px;
    left: 5px;
    display: inline-flex;
}

h1 {
    font-size: 25px;
    color: aliceblue;
    text-align: left; 
    margin-top: 20px;
    margin-left: 70px;
}

.highlight {
    color: rgb(93, 157, 235); 
    text-shadow: 0 0 3px rgb(213, 251, 255), 0 0 8px rgb(29, 183, 255);
}

.outlined-text {
    font-size: 50px;
    color: transparent; 
    -webkit-text-stroke: 3px rgb(0, 0, 0); 
    text-align: center;
    margin-top: -73px;
    margin-bottom: 20px;
}

.about-box {
    background-color: rgba(255, 255, 255, 0.9);
    width: 600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


#box1 {
    position: absolute;
    top: 18%;
    left: 5%;
}

#box2 {
    position: absolute;
    top: 18%;
    left: 50%;
}

#box3 {
    position: absolute;
    top: 58%;
    left: 10%;
}

#box4 {
    position: absolute;
    top: 58%;
    left: 55%;
}

#returnButton {
    padding: 10px 20px;
    background-color: rgb(100, 172, 255);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: inline-flex;
    margin-top: 31%;
    align-items: right;
    font-weight: 600;
    margin-left: 86%;
}

#returnButton:hover {
    background-color: #56799e;
}