body {
  background-image: url('../images/bg2.png');
  z-index: -1000;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0; 
  padding: 0; 
  height: 100vh;
  min-height: 100vh;
  font-family: arial black, sans-serif;
}

.logo1 {
  max-width: 100px;
  max-height: 100px;
  position: absolute;
  top: 0px;
  left: 33.5%;
}

.logo2 {
  max-width: 150px;
  max-height: 150px;
  position: absolute;
  top: 0;
  left: 33%;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 35px;
  color: aliceblue;
  text-align: right;
  margin-right: 132px;
}

.highlight {
  color: rgb(93, 157, 235);
  text-shadow: 0 0 3px rgb(213, 251, 255), 0 0 8px rgb(29, 183, 255);
}

.outlined-text {
  color: transparent;
  -webkit-text-stroke: 3px rgb(255, 255, 255);
  text-align: center;
}

.spritef {
  width: 36px;
  height: 36px;
  position: absolute;
  bottom: 33px;
  left: 38%;
  transform: translateX(-50%);
}

.spritef a {
  display: block;
  width: 100%;
  height: 100%;
  background: url('../images/socmed.png') no-repeat -473px -275px;
}

.spritef a:hover {
  background: url('../images/socmed.png') no-repeat -471px -321px;
}

.spritem {
  width: 38px;
  height: 37px;
  position: absolute;
  bottom: 33px;
  left: 45%;
  transform: translateX(-50%);
}

.spritem a {
  display: block;
  width: 100%;
  height: 100%;
  background: url('../images/socmed.png') no-repeat -312px -275px;
}

.spritem a:hover {
  background: url('../images/socmed.png') no-repeat -310px -321px;
}

.spritei {
  width: 38px;
  height: 37px;
  position: absolute;
  bottom: 33px;
  left: 52%;
  transform: translateX(-50%);
}

.spritei a {
  display: block;
  width: 100%;
  height: 100%;
  background: url('../images/socmed.png') no-repeat -366px -275px;
}

.spritei a:hover {
  background: url('../images/socmed.png') no-repeat -364px -321px;
  width: 38px;
  height: 38px;
}

.spritet {
  width: 37px;
  height: 36px;
  position: absolute;
  bottom: 33px;
  left: 59%;
  transform: translateX(-50%);
}

.spritet a {
  display: block;
  width: 100%;
  height: 100%;
  background: url('../images/socmed.png') no-repeat -528px -275px;
}

.spritet a:hover {
  background: url('../images/socmed.png') no-repeat -527px -321px;
}

.spritete {
  background: url('../images/socmed.png') no-repeat -260px -275px;
  width: 37px;
  height: 37px;
  position: absolute;
  bottom: 50px;
  left: 70%;
  transform: translateX(-50%);
  transform: scale(0.8);
}

.spritete span {
  position: absolute;
  left: calc(100% + 10px);
  top: 50%;
  transform: translateY(-50%);
  color: aliceblue;
}

.spriteg {
  background: url('../images/socmed.png') no-repeat -420px -275px;
  width: 36px;
  height: 37px;
  position: absolute;
  bottom: 10px;
  left: 70%;
  transform: translateX(-50%);
  transform: scale(0.8);
}

.spriteg span {
  position: absolute;
  left: calc(100% + 10px);
  top: 50%;
  transform: translateY(-50%);
  color: aliceblue;
}

.spritegh {
  background: url('../images/socmed.png') no-repeat -582px -275px;
  width: 37px;
  height: 37px;
  position: absolute;
  bottom: 33px;
  left: 66%;
  transform: translateX(-50%);
}

.spritegh a {
  background: url('../images/socmed.png') no-repeat -582px -275px;
  display: block;
  width: 100%;
  height: 100%;
}

.spritegh a:hover {
  background: url('../images/socmed.png') no-repeat -581px -322px;
}

.overlay-box {
  position: fixed;
  top: 0;
  right: -500px;
  width: 500px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 1000;
  display: flex;
  align-items: center;
  transition: right 0.3s ease;
  animation-name: slideAnimation0;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slideAnimation0 {
    0% {
      right: -1020px; 
    }
    100% {
      right: 0px; 
    }
}

.overlay-text {
    color: white;
    text-align: justify;
    font-size: 18px; 
    padding-left: 80px;
    padding-top: 80px;
    position: relative;
    width: calc(100% - 80px); 
    height: calc(100% - 100px); 
    overflow: auto;
    box-sizing: border-box;
}

.overlay {
    position: fixed;
    top: 50%;
    left: -300px; 
    transform: translate(0, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    transition: left 0.3s ease;
    z-index: 1000;
  }
  
  .overlay-box.active {
    left: 50%;
    right: 0;
    transform: translate(700px, 0);
  }
  
  .arrow {
    position: absolute;
    bottom: 8px; 
    left: 7%;
    transform: translateX(-50%) rotate(-90deg);
    cursor: pointer;
    font-size: 50px; 
    color: white; 
  }

.rectangle1 {
    margin-top: 20px;
    width: 1000px;
    height: 95%;
    background-color: rgb(24, 63, 108);
    border-radius: 50px;
    position: relative;
    animation-name: slideAnimation1;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; 
    box-shadow: 20px 0px 15px rgba(0, 0, 0, 0.3);
  }
  

  @keyframes slideAnimation1 {
    0% {
      left: -1020px; 
    }
    100% {
      left: -325px; 
    }
  }

  .rectangle2 {
    width: 1050px;
    height: 500px;
    background-color: rgb(179,212,249);
    border-radius: 50px;
    position: relative;
    animation-name: slideAnimation2;
    animation-duration: .8s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; 
    box-shadow: 20px 0px 15px rgba(0, 0, 0, 0.3);
  }
  
  
  @keyframes slideAnimation2 {
    0% {
      left: -1020px; 
    }
    100% {
      left: -140px; 
    }
  }

  .rectangle7 {
    width: 1080px;
    height: 80%;
    transform: translateY(50px);
    background-color: rgb(161, 194, 232);
    border-radius: 50px;
    position: relative;
    animation-name: slideAnimation9;
    animation-duration: .8s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; 
    box-shadow: 20px 0px 15px rgba(0, 0, 0, 0.3);
  }
  

  @keyframes slideAnimation9 {
    0% {
      left: -1020px; 
    }
    100% {
      left: -140px; 
    }
  }

  .rectangle3 {
    width: 1100px;
    height: 75%;
    transform: translateY(55px);
    background-color: rgb(151,198,250);
    border-radius: 50px;
    position: relative;
    animation-name: slideAnimation3;
    animation-duration: 1.1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; 
    box-shadow: 20px 0px 15px rgba(0, 0, 0, 0.3);
  }
  
  
  @keyframes slideAnimation3 {
    0% {
      left: -1020px; 
    }
    100% {
      left: -120px; 
    }
  }

  .rectangle4 {
    width: 1110px;
    height: 80%;
    transform: translateY(35px);
    background-color: rgb(111, 151, 197);
    border-radius: 50px;
    position: relative;
    animation-name: slideAnimation4;
    animation-duration: 1.4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; 
    box-shadow: 20px 0px 15px rgba(0, 0, 0, 0.3);
  }
  
  
  @keyframes slideAnimation4 {
    0% {
      left: -1020px; 
    }
    100% {
      left: -110px;
    }
  }

  .rectangle5 {
    width: 1100px;
    height: 500px;
    transform: translateY(-140px);
    background-color: rgb(0,121,255);
    position: relative;
    animation-name: slideAnimation5;
    animation-duration: 1.7s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; 
    box-shadow: 20px 0px 15px rgba(0, 0, 0, 0.3);
  }
  
 
  @keyframes slideAnimation5 {
    0% {
      left: -1020px; 
    }
    100% {
      left: -100px; 
    }
  }

  .rectangle6 {
    width: 1095px;
    height: 500px;
    background-color: rgb(3, 29, 56);
    position: relative;
    animation-name: slideAnimation8;
    animation-duration: 1.7s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; 
    box-shadow: 20px 0px 15px rgba(0, 0, 0, 0.3);
  }
  
  
  @keyframes slideAnimation8 {
    0% {
      left: -1020px;
    }
    100% {
      left: -60px; 
    }
  }

.navigation {
    display: flex;
    position: absolute;
    left: 90%;
    top: -20px;
    text-align:right;
}

.navigation ul {
    list-style: none;
    margin: 0;
}

.navigation li {
    margin: 30px 0;
}

.navigation a {
    text-decoration: none;
    color: rgb(171,207,248);
    font-weight:lighter;
    font-size: 16px;
    display: block;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: rgb(0,121,255);
    transition: all 0.3s ease;
}

.navigation a:hover {
    color: rgb(0,44,94);
    transform: scale(1.1);
}

.navigation a:active {
    animation: scaleAnimation 0.5s ease;
}

@keyframes scaleAnimation {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

.button-link1 {
    display: inline-block;
    padding: 10px 20px;
    font-size: 30px;
    background-color: rgb(127, 165, 209);
    color: white;
    text-decoration: none;
    box-shadow: 20px 0px 15px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-right: 30px; 
    position: absolute;
    transform: translateX(950px);
    animation-duration: 1.7s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    visibility: hidden;
}

.button-link1:hover {
    background-color: #4d83cf;
}

.button-link1.active{
    visibility: visible;
    animation-name: slideAnimation6;
}

@keyframes slideAnimation6 {
    0% {
      bottom: 0px; 
    }
    100% {
      bottom: 480px; 
    }
}

.button-link2 {
    display: inline-block;
    padding: 10px 20px;
    font-size: 30px;
    background-color: rgb(127, 165, 209);
    color: white;
    text-decoration: none;
    box-shadow: 20px 0px 15px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-right: 30px; 
    position: absolute;
    transform: translateX(830px);
    animation-duration: 1.7s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    visibility: hidden;
}

.button-link2:hover {
    background-color: #4d83cf;
}

.button-link2.active{
    visibility: visible;
    animation-name: slideAnimation7;
}

@keyframes slideAnimation7 {
    0% {
      bottom: 0px; 
    }
    100% {
      bottom: 330px; 
      animation-delay: 1s;
    }
}


.button-link3 {
  display: inline-block;
  padding: 10px 20px;
  font-size: 30px;
  background-color: rgb(127, 165, 209);
  color: white;
  text-decoration: none;
  box-shadow: 20px 0px 15px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin-right: 30px; 
  position: absolute;
  transform: translateX(960px);
  animation-duration: 1.7s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  visibility: hidden;
}

.button-link3:hover {
  background-color: #4d83cf;
}

.button-link3.active{
  visibility: visible;
  animation-name: slideAnimation11;
}

@keyframes slideAnimation11 {
  0% {
    bottom: 0px; 
  }
  100% {
    bottom: 180px; 
    animation-delay: 1.5s;
  }
}

.no-scroll {
    overflow: hidden;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

